{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}{{ title }}{% endblock title %}

{% block body %}
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Filter Type <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li role="presentation" class="dropdown-header">
            <h4><a href="{{ url_for(levels_url) }}">All</a></h4>
        </li>
        <li role="presentation" class="dropdown-header">
            <h4><a href="{{ url_for(levels_slug_url, slug="weapons") }}">Weapons</a></h4>
        </li>
        <li><a href="{{ url_for(levels_slug_url, slug="axes") }}">Axes</a></li>
        <li><a href="{{ url_for(levels_slug_url, slug="bows") }}">Bows</a></li>
        <li><a href="{{ url_for(levels_slug_url, slug="claws") }}">Claws</a></li>
        <li><a href="{{ url_for(levels_slug_url, slug="daggers") }}">Daggers</a></li>
        <li><a href="{{ url_for(levels_slug_url, slug="maces") }}">Maces</a></li>
        <li><a href="{{ url_for(levels_slug_url, slug="staves") }}">Staves</a></li>
        <li><a href="{{ url_for(levels_slug_url, slug="swords") }}">Swords</a></li>
        <li><a href="{{ url_for(levels_slug_url, slug="wands") }}">Wands</a></li>
        <li role="presentation" class="dropdown-header">
            <h4><a href="{{ url_for(levels_slug_url, slug="armors_all") }}">Armor</a></h4>
        </li>
        <li><a href="{{ url_for(levels_slug_url, slug="helms") }}">Helmets</a></li>
        <li><a href="{{ url_for(levels_slug_url, slug="armors") }}">Body Armor</a></li>
        <li><a href="{{ url_for(levels_slug_url, slug="gloves") }}">Gloves</a></li>
        <li><a href="{{ url_for(levels_slug_url, slug="boots") }}">Boots</a></li>
        <li><a href="{{ url_for(levels_slug_url, slug="shields") }}">Shields</a></li>
        <li role="presentation" class="dropdown-header">
            <h4><a href="{{ url_for(levels_slug_url, slug="misc") }}">Misc</a></h4>
        </li>
        <li><a href="{{ url_for(levels_slug_url, slug="belts") }}">Belts</a></li>
        <li><a href="{{ url_for(levels_slug_url, slug="quivers") }}">Quivers</a></li>
    </ul>
</div>

{% for lvl, items in all_items|groupby('required_level') %}
    <h3>Level {{ lvl }}</h3>
    {{ macros.item_table(items) }}
{% endfor %}

{% endblock body %}
