{# outputs item html #}
{% macro item_title(item, outer_tag="h4", popover=False, multiline=True, sockets=False, in_popover=False) -%}
<{{ outer_tag }} class="{% if popover %} item_popover{% endif%}{% if not item.is_identified %} unidentified{% endif %}"
{% if popover %}{{ item_popover(item) }} {% endif %}>
    {% if item.name %}
        {% if item.rarity == "gem" %}
            <span class="gem">
        {% elif item.rarity == "unique" %}
            <span class="unique">
        {% elif item.rarity == "rare" %}
            <span class="rare">
        {% elif item.rarity == "magic" %}
            <span class="magic">
        {% elif item.is_quest_item() %}
            <span class="quest">
        {% else %}
            <span>
        {% endif %}
        {# output the name #}
            {{ item.name }}
            {% if sockets and item.socket_str %}
                &nbsp;&nbsp;<span style="{% if in_popover %}float:right;{% endif %}">{{ item.socket_str|socket }}</span>
            {% endif %}
        </span>
        {% if multiline %}<br/>{% endif %}
    {% endif %}

    {# output item type #}
    <span style="{% if not in_popover and multiline %}line-height:2;{% endif %}" class="{% if item.rarity=="magic" %}magic{% endif %}">{{ item.type_ }}</span>
    {% if sockets and item.socket_str and not item.name %}
    &nbsp;&nbsp;<span style="{% if in_popover %}float:right;{% else %}{% endif %}">{{ item.socket_str|socket }}</span>
    {% endif %}
    </{{ outer_tag }}>
{%- endmacro %}

{#
excludes can be an array with any of the following elements:
title, location, sockets
#}
{% macro item_html(item, outer_tag="h4", excludes=[]) -%}
    {% if "title" not in excludes %}
        {# output item name and type #}
        {{ item_title(item, outer_tag="h4", sockets=True) }}
    {% endif %}

    <img src="{{ item.icon }}">

    {# item location #}
    {% if "location" not in excludes %}
        <{{ outer_tag }}>
            <a href="/browse/{{ item.page_no }}/">{{ item.location_str() }}</a>
        </{{ outer_tag }}>
    {% endif %}

    {% if item.is_identified %}
        {% if item.socketed_items %}
            <h5>Socketed Items:</h5>
            <p>
                {% for socketed_item in item.socketed_items %}
                    <span class="gem">{{ socketed_item.type_ }}</span></br>
                {% endfor %}
            </p>
        {% endif %}

        {% if item.requirements %}
            <p>
                {% for req in item.requirements %}
                    <span class="{{ req.name[:3]|lower }}">{{ req.name }}: {{ req.value }}</span>&nbsp;
                {% endfor %}
            </p>
        {% endif %}

        {% if item.properties %}
            <h5>Properties:</h5>
            <p>
                {% for prop in item.properties %}
                    <span class="magic">
                        {{ prop.name }}{% if prop.value %}: {{ prop.value }}{% endif %}
                    </span></br>
                {% endfor %}
            </p>
        {% endif %}

        {% for mod in item.implicit_mods %}
            <span class="magic">
                {{ mod }}
            </span></br>
        {% endfor %}
        {% if item.implicit_mods %}<br>{% endif %}
        {% for mod in item.explicit_mods %}
            <span class="magic">
                {{ mod }}
            </span></br>
        {% endfor %}
    {% else %}
        <span class="unidentified">Unidentified</span>
    {% endif %}
{%- endmacro %}

{# outputs a nice list of items #}
{% macro item_list(items) -%}
    <ul class="list-group item_listing">
    {% for item in items %}
        <li class="list-group-item">
            {{ item_html(item) }}
        </li>
    {% endfor %}
</ul>
{%- endmacro %}

{# outputs a bootstrap themed progressbar #}
{% macro progressbar(val, max_val=100) -%}
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ val }}" aria-valuemin="0" aria-valuemax="{{ max_val }}" style="width:{{ (val / max_val)|percent }};">
        <span class="sr-only">{{ (val / max_val)|percent }} Complete</span>
    </div>
</div>
{%- endmacro %}

{# outputs a bootstrap themed progressbar with percentage #}
{% macro progressbar_percent(val, max_val) -%}
    <div class="col-xs-4" style="padding-left:0px">{{ progressbar(val, max_val) }}</div>
    {{ (val / max_val)|percent }}
{%- endmacro %}

{# outputs the data attributes for an item popover #}
{% macro item_popover(item) -%}
    data-toggle='popover' data-html='true'
    data-title='{{ item_title(item, sockets=True, in_popover=True).replace("'", "\'") }}'
    data-content='{{ item_html(item, excludes=["title", "location", "sockets"]).replace("'", "\'") }}'
{%- endmacro %}

{# outputs a table of results #}
{% macro item_table(items) -%}
<table class="table table-striped table-hover table-bordered table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Num Sockets</th>
            <th>Sockets</th>
            <th>Requirements</th>
            <th>Deleted</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item_title(item, outer_tag="p", popover=True, multiline=False) }}</td>
            <td>
                <a href="/browse/{{ item.page_no }}/">
                    {{ item.location_str() }}
                </a>
            </td>
            <td>{{ item.num_sockets }}</td>
            <td>{{ item.socket_str|socket }}</td>
            <td>
                {% if item.is_identified %}
                    {% for req in item.requirements %}
                        <span class="{{ req.name[:3]|lower }}">
                            {{ req.name }}: {{ req.value }}
                        </span>
                        {% if not loop.last %},{% endif %}
                    {% endfor %}
                {% endif %}
            </td>
            <td style="text-align:center">
                <label class="checkbox-inline">
                    <input type="checkbox" class="mark_delete" value="{{ item.id }}" {% if item.is_deleted %}checked{% endif %}>
                </label>
            </td>
        </tr>
        {% else %}
        <tr>
            <td class="text-center" colspan="6">
                <strong>No results found.</strong>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}

{# outputs a horizontal bootstrap text field #}
{% macro text_field(name, label="", help_text="") -%}
<div class="form-group">
    <label for="{{ name }}" class="col-sm-2 control-label">{{ label|default(name.replace("_", " ").title(), true) }}</label>
    <div class="col-sm-10">
        <input type="text" class="form-control input-sm" id="id_{{ name }}" name="{{ name }}">
        {% if help_text %}
            <p class="help-block">{{ help_text }}</p>
        {% endif %}
    </div>
</div>
{%- endmacro %}

{# outputs a horizontal bootstrap select field with an optional multi select button #}
{% macro select_field(name, label="", multi=True, values=[]) -%}
<div class="form-group">
    <label for="{{ name }}" class="col-sm-2 control-label">{{ label|default(name.replace("_", " ").title(), true) }}</label>
    <div class="col-sm-{% if multi %}9{% else %}10{% endif %}">
        <select class="form-control" name="{{ name }}{% if multi %}_multi{% endif %}" id="{{ name }}">
            <option value=""></option>
            {% for v in values %}
                <option value="{{ v }}">{{ v }}</option>
            {% endfor %}
        </select>
    </div>

    {% if multi %}
        <button type="button" class="btn btn-default multi_toggle">Multi</button>
    {% endif %}
</div>
{%- endmacro %}
