{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}Items to Purge{% endblock title %}

{% block body %}
    {% if non_rares %}
        <h3>Non Rares ({{ non_rares|length }})</h3>
        {{ macros.item_table(non_rares) }}
    {% endif %}

    {% if unidentifieds %}
        <h3>Unidentified ({{ unidentifieds|length }})</h3>
        {{ macros.item_table(unidentifieds) }}
    {% endif %}

    {% if duplicate_rares %}
        <h3>Duplicate Rares ({{ duplicate_rares|length }})</h3>
        {{ macros.item_table(duplicate_rares) }}
    {% endif %}
{% endblock body %}
