{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}Items to Purge{% endblock title %}

{% block body %}
{% if chromatics %}
    <h3>Chromatics ({{ chromatics|length }})</h3>
    {{ macros.item_table(chromatics) }}
{% endif %}

{% if rares %}
    <h3>Rares ({{ rares|length }})</h3>
    {{ macros.item_table(rares) }}
{% endif %}

{% if unidentifieds %}
    <h3>Unidentified ({{ unidentifieds|length }})</h3>
    {{ macros.item_table(unidentifieds) }}
{% endif %}
{% endblock body %}
