{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}Stats{% endblock title %}

{% block body %}

<h3>Wealth</h3>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for name, cnt in currencies|dictsort %}
        <tr>
            <td>{{ name }}</td>
            <td class="text-center">{{ cnt }}</td>
        </tr>
        {% endfor %}
        {# orb equivalents #}
        <tr>
            <td class="text-right"><strong>Chaos</strong></td>
            <td class="text-center">{{ currencies_chaos|round(2) }}</td>
        </tr>
        <tr>
            <td class="text-right"><strong>Exalts</strong></td>
            <td class="text-center">{{ currencies_exalts|round(2) }}</td>
        </tr>
    </tbody>
</table>

<h3>Gems</h3>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Gem</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for gem, count in all_gems %}
        <tr>
            <td>{{ gem }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}
